<!DOCTYPE html>
<html lang="fr">
<head>
    <title><?php echo $this->title;?></title>
    <meta charset="UTF-8" />
    <meta name="author" content="numetu1,numetu2,numetu3,numetu4" />
    <link rel="stylesheet" media="screen" type="text/css" href="<?php echo dirname($this->router->getFileURL()); ?>/src/view/style/screen.css"/>
</head>
<body>
    <nav>
		<ul>
			<?php
				foreach($this->menu as $texte => $lien)
				{
					echo '<li><a href="'.$lien.'">'.$texte.'</a></li>';
				}
			?>
		</ul>
	</nav>
    <?php 
        if($this->feedback!=='' && $this->feedback!==null){
            echo '<div id="feedback">'.$this->feedback.'</div>';
        }
    ?>
    <?php echo $this->content;?>
</body>
</html>
